<!-- views/index.ejs -->

<!doctype html>

<html>

<head>

    <title>Conmag Server</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"> <!-- load bootstrap css -->

    <link rel="stylesheet" href="/static/css/font-awesome.min.css"> <!-- load fontawesome -->

    <style>

        body        { padding-top:80px; }

    </style>

</head>

<body>

<div class="container">



    <div class="jumbotron text-center">

        <h1><img src="/static/images/Indian_Railway_1024x1024.png" alt="Brand" width="75" hight="75">  WCR Construction Management Site</h1>



        <p>Login or Register with:</p>



        <a href="/login" class="btn btn-primary">Login</a>

        <a href="/signup" class="btn btn-success">Signup</a>

    </div>



</div>

</body>

</html>