<!-- Navbar -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand-image"><img src="/static/images/Indian_Railway_1024x1024.png" alt="Brand" width="40" hight="40"></a>
            <a class="navbar-brand" href="#">WCR Construction Management Site</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <a class="navbar-profile-image"><img src="/static/images/profile.jpg" class="img-circle" alt="Profile" width="40" hight="40"></a>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.local.firstName %> <%= user.local.lastName %> 
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><%= user.local.designation %></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </nav>