<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conmag Server</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/dropdown.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>


<div class="container">

    <% include navbar %>

</div>
<!-- Main component for data representation -->
<div id="work" class="container">
  
  <div class="row extraTopMargin20px">
    <div class="col-md-4 text-center"><button id="1" type="button" class="btn btn-default btn-lg">Department 1</button></div>
    <div class="col-md-4 text-center"><button id="2" type="button" class="btn btn-default btn-lg">Department 2</button></div>
    <div class="col-md-4 text-center"><button id="3" type="button" class="btn btn-default btn-lg">Department 3</button></div>
  </div>
  <div class="row extraTopMargin20px">
    <div class="col-md-4 text-center"><button id="4" type="button" class="btn btn-default btn-lg">Department 4</button></div>
    <div class="col-md-4 text-center"><button id="5" type="button" class="btn btn-default btn-lg">Department 5</button></div>
    <div class="col-md-4 text-center"><button id="6" type="button" class="btn btn-default btn-lg">Add Department</button></div>
  </div>
  
</div>

<script src="/static/js/work.js"></script>
<!-- =========================Bootstrap core JavaScript========================= -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>