<div class="row extraTopMargin20px">
    <div class="col-md-4 text-center"><button type="button" class="btn btn-default btn-lg">Project 1</button></div>
    <div class="col-md-4 text-center"><button type="button" class="btn btn-default btn-lg">Project 2</button></div>
    <div class="col-md-4 text-center"><button type="button" class="btn btn-default btn-lg">Project 3</button></div>
  </div>
  <div class="row extraTopMargin20px">
    <div class="col-md-4 text-center"><button type="button" class="btn btn-default btn-lg">Project 4</button></div>
    <div class="col-md-4 text-center"><button type="button" class="btn btn-default btn-lg">Project 5</button></div>
    <div class="col-md-4 text-center"><button type="button" class="btn btn-default btn-lg">Add Project</button></div>
  </div>


  <a><%= data%><a/>