<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Conmag Server</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post" id="signup">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastName">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Designation</label>
            <select class="form-control" name="designation" form="signup">
                <option selected disabled>Select Your Post</option>
                <option value="Principle Chief Engineer">Principle Chief Engineer</option>
                <option value="Chief Engineer">Chief Engineer</option>
                <option value="Dupety Chief Engineer">Dupety Chief Engineer</option>
                <option value="Senior Engineer">Senior Engineer</option>
                <option value="Junior Engineer">Junior Engineer</option>
                <option value="Supervisor">Supervisor</option>
            </select>
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>