.extraTopMargin6px{
	margin-top: 6px;
}

.extraTopMargin20px{
	margin-top: 20px;
}

.navbar-profile-image {
    padding: 6px 10px;
    float: right;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand-image {
    padding: 6px 15px;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}